<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.appoa.afdemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 设计稿的尺寸 -->
        <meta-data
            android:name="design_width"
            android:value="640" />
        <meta-data
            android:name="design_height"
            android:value="1136" />

        <!-- 适配全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <!-- provider authorities必须为【包名+.fileprovider】 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <!-- 图片裁剪 -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullTheme" />

        <!-- 图片多选 -->
        <activity
            android:name="cn.appoa.wximageselector.ImageSelectorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBlackTheme" />
        <!-- 图片多选预览 -->
        <activity
            android:name="cn.appoa.wximageselector.PreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBlackTheme" />
        <!-- 图片多选裁剪 -->
        <activity
            android:name="cn.appoa.wximageselector.ClipImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBlackTheme" />
        <!-- 图片多选视频裁剪 -->
        <activity
            android:name="cn.appoa.wximageselector.ClipVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBlackTheme" />
        <!-- 图片大图预览 -->
        <activity
            android:name="cn.appoa.wximageselector.ShowBigImageListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullTheme" />

        <!-- 视频拍摄 -->
        <activity
            android:name="com.cjt2325.cameralibrary.JCameraViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullTheme" />
        <!-- 视频播放 -->
        <activity
            android:name="cn.jzvd.JZVideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppFullTheme" />

        <!-- 启动页 -->
        <activity
            android:name=".StartActivity"
            android:theme="@style/AppSplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!-- 主页 -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="afdemo.cn"
                    android:scheme="appoa" />
            </intent-filter>

        </activity>
        <!-- 常用工具类 -->
        <activity android:name=".activity.CommonUtilsActivity" />
        <!-- AES加密 -->
        <activity
            android:name=".activity.AESUtilsActivity"
            android:configChanges="keyboard"
            android:windowSoftInputMode="adjustPan" />
        <!-- 主线程和子线程切换 -->
        <activity android:name=".activity.AsyncRunActivity" />
        <!-- Activity常用方法封装 -->
        <activity android:name=".activity.AtyUtilsActivity" />
        <!-- 时间格式化 -->
        <activity android:name=".activity.DateUtilsActivity" />
        <!-- Json解析工具类 -->
        <activity android:name=".activity.JsonUtilsActivity" />
        <!-- 地图导航工具类 -->
        <activity android:name=".activity.MapUtilsActivity" />
        <!-- Md5加密工具类 -->
        <activity android:name=".activity.Md5UtilsActivity" />
        <!-- SpannableString -->
        <activity android:name=".activity.SpannableStringUtilsActivity" />
        <!-- 自定义控件 -->
        <activity android:name=".activity.CustomWidgetActivity" />
        <!-- HeaderGridView -->
        <activity android:name=".activity.HeaderGridViewActivity" />
        <!-- FlowLayout -->
        <activity android:name=".activity.FlowLayoutActivity" />
        <!-- GridPasswordView -->
        <activity android:name=".activity.GridPasswordViewActivity" />
        <!-- CenterSquareImageView -->
        <activity android:name=".activity.CenterSquareImageViewActivity" />
        <!-- SuperImageView -->
        <activity android:name=".activity.SuperImageViewActivity" />
        <!-- MaxHeightLayout -->
        <activity android:name=".activity.MaxHeightLayoutActivity" />
        <!-- RatioRelativeLayout -->
        <activity android:name=".activity.RatioRelativeLayoutActivity" />
        <!-- SwipeMenuDelLayout -->
        <activity android:name=".activity.SwipeMenuDelLayoutActivity" />
        <!-- ScrollView嵌套滑动布局 -->
        <activity android:name=".activity.NoScrollViewActivity" />
        <!-- HeightWrapViewPager -->
        <activity android:name=".activity.HeightWrapViewPagerActivity" />
        <!-- UPMarqueeView -->
        <activity android:name=".activity.UPMarqueeViewActivity" />
        <!-- SideBar -->
        <activity
            android:name=".activity.SideBarActivity"
            android:configChanges="keyboard"
            android:windowSoftInputMode="adjustPan" />
        <!-- NumberAnimTextView -->
        <activity android:name=".activity.NumberAnimTextViewActivity" />
        <!-- WheelView -->
        <activity android:name=".activity.WheelViewActivity" />
        <!-- 头像上传 -->
        <activity android:name=".activity.UploadAvatarActivity" />
        <!-- 图片多选 -->
        <activity android:name=".activity.UploadImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- 视频上传 -->
        <activity android:name=".activity.UploadVideoActivity" />
        <!-- 本地视频 -->
        <activity android:name=".activity.LocalVideoActivity" />
        <!-- 下拉刷新 -->
        <activity android:name=".activity.RefreshBeanActivity" />
        <!-- 下拉刷新 -->
        <activity android:name=".activity.SmartRefreshActivity" />
        <!-- 轮播图 -->
        <activity android:name=".activity.BannerActivity" />
        <!-- 语音上传 -->
        <activity android:name=".activity.UploadVoiceActivity" />
        <!-- WebView的使用 -->
        <activity android:name=".activity.WebViewActivity" />
        <!-- Github优秀开源库 -->
        <activity android:name=".activity.GithubProjectActivity" />
        <!-- AndroidAutoLayout -->
        <activity android:name=".activity.AndroidAutoLayoutActivity" />
        <!-- AndroidUtilCode -->
        <activity android:name=".activity.AndroidUtilCodeActivity" />
        <!-- AppUpdate -->
        <activity android:name=".activity.AppUpdateActivity" />
        <!-- MPAndroidChart -->
        <activity android:name=".activity.MPAndroidChartActivity" />
        <!-- NCalendar -->
        <activity android:name=".activity.NCalendarActivity" />
        <!-- OkGo -->
        <activity android:name=".activity.OkGoActivity" />
        <!-- PRDownloader -->
        <activity android:name=".activity.PRDownloaderActivity" />
        <!-- QMUI_Android -->
        <activity android:name=".activity.QMUI_AndroidActivity" />
        <!-- SmartTable -->
        <activity android:name=".activity.SmartTableActivity" />
        <!-- SuperButton -->
        <activity android:name=".activity.SuperButtonActivity" />
        <!-- SuperTextView -->
        <activity android:name=".activity.SuperTextViewActivity" />
        <!-- 微信扫一扫 -->
        <activity android:name=".activity.ZmQrCodeActivity" />
        <!-- 微信摇一摇 -->
        <activity android:name=".activity.ZmShakeActivity" />

    </application>

</manifest>
